{% extends "admin_base.html" %}
{% block title %}
order-management
{% endblock title %}
{% block body %}


<div class="container-fluid">
    <div class="table-wrapper bg-dark border">
        <div class="table-title bg-dark">
            <div class="row">
                <div class="col-md-3 mt-5"></div>
                <div class="col-md-6 text-center mt-5 mb-5">
                    <h1 class="text-white">ORDERS </h1>
                </div>
            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-body">
                <div class="d-flex justify-content-spacebetween p-3 mt- col-md-12">
                    <div class="col-md-6">
                        <h5 class="card-title text-white mb-4"> ORDERS TABLE </h5>
                    </div>
                    {% if messages %}
                    <p>
                        {% for message in messages %}
                        <span class="text-center text-success">{{ message }}</span>
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>

                <!-- Table  -->

                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="table-responsive">
                            <table class="table text-start align-middle table-bordered table-hover mb-0 p-2" id="sortTable">
                                <thead>
                                    <tr class="text-white text-center fw-bold" style="font-size: 18px;">
                                        <th scope="col">Sr No.</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Payment</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for order in orders %}

                                    <tr class="text-center" style="font-size: 18px;">
                                        <td> {{ forloop.counter }} </td>
                                        <td> {{ order.created }} </td>
                                        <td> {{ order.order_id }} </td>
                                        <td> {{ order.user.email }} </td>
                                        <td> {{ order.order_total }} </td>
                                        <td>  {% if order.payment.is_paid %} Paid {% else %} Pending {% endif %} </td>
                                        <td>  {% if order.status %} {{ order.status     }} {% else %} Pending {% endif %} </td>
                                        <td><a class="btn btn-sm btn-warning" href="{% url 'order_update' order.id %}">Detail</a></td>
                                    </tr>                                  

                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Revenue : </h6>
            <a href="">Show All</a>
        </div>
    </div>
</div>



{% endblock body %}