{% extends 'admin_base.html' %}
{% block title %}
admin-dashboard
{% endblock %}
{% load static %}

{% block chart %}

<script>
    let sales=[]
    let elements = document.getElementsByClassName("salesData");
// Loop through the elements and extract their values
    for (let i = 0; i < elements.length; i++) {
        sales.push(elements[i].textContent);
    }

    let years=[]
    let yElements = document.getElementsByClassName("yearData");
// Loop through the elements and extract their values
    for (let i = 0; i < yElements.length; i++) {
        years.push(yElements[i].textContent);
    }

    var options = {
        chart: {
          type: 'line'
        },
        series: [{
          name: 'sales',
          data: sales
        }],
        xaxis: {
          categories:years
        }
      }
      
      var chart = new ApexCharts(document.querySelector("#chart"), options);
      
      chart.render();
</script>


<script>
    let months=[]
    let xelements = document.getElementsByClassName("monthData");
// Loop through the elements and extract their values
    for (let i = 0; i < xelements.length; i++) {
        months.push(xelements[i].textContent);
    }

    let order=[]
    let xyElements = document.getElementsByClassName("orderData");
// Loop through the elements and extract their values
    for (let i = 0; i < xyElements.length; i++) {
        order.push(xyElements[i].textContent);
    }
    var options = {
        series: [{
        name: 'Net Profit',
        data: order
      }],
        chart: {
        type: 'bar',
        height: 350
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '55%',
          endingShape: 'rounded'
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        width: 2,
        colors: ['transparent']
      },
      xaxis: {
        categories: months,
      },
      yaxis: {
        title: {
          text: '$ (thousands)'
        }
      },
      fill: {
        opacity: 1
      },
      tooltip: {
        y: {
          formatter: function (val) {
            return "$ " + val + " thousands"
          }
        }
      }
      };

      var chart = new ApexCharts(document.querySelector("#barChart"), options);
      chart.render();
</script>

{% endblock chart %}

{% block body %}


<!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0"> ₹ {{ today_count }} </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0"> ₹ {{ order_count }} </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">₹ {% if today_revenue %} {{ today_revenue }} {% else %} 0 {% endif %}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">₹ {{ order_total }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-10 col-xl-5">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


  


            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div id="chart" class="w-50 text-danger">

                    </div>
                    <div id="barChart" class="w-50 text-danger" style="color: red !important; background-color: black;">

                    </div>
                </div>
            </div>


                      <!-- Recent Sales Start -->
 <div class="container-fluid pt-4 px-4">
  <div class="bg-secondary text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Sales Reports</h6>
          <a href="">Show All</a>
      </div>
      <div class="table-responsive">
          <table class="table text-start align-middle table-bordered table-hover mb-2" id="sortTable">
            <div class="d-flex justify-content-end gap-3 mb-4">
              <form action="" class="" method="POST">
                {% csrf_token %}
                <label for="startDate">Start Date</label>
                <input type="date" class="form-outline" placeholder="start date" id="startDate" name="startDate">
                <label for="endDate">End Date</label>
                <input type="date" class="form-outline" placeholder="end date" id="endDate" name="endDate">
                <button type="submit" class="btn-primary"> Filter </button>
              </form>
            </div>
            
              <thead class="mt-2" style="font-size: 20px;">
                  <tr class="text-white">
                      <th scope="col"><input class="form-check-input" type="checkbox"></th>
                      <th scope="col">Date</th>
                      <th scope="col">Order</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                  <tr style="font-size: 18px;">
                      <td><input class="form-check-input" type="checkbox"></td>
                      <td> {{ order.created }} </td>
                      <td> {{ order.order_id }} </td>
                      <td> {{ order.user.email }} </td>
                      <td> {{ order.order_total }} </td>
                      <td> {{ order.status }} </td>
                      <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
<!-- Recent Sales End -->
            
            
            
            {% for i in year %}
            <p class="yearData" hidden> {{ i }} </p> 
            {% endfor %}

            {% for i in sales %}
            <p class="salesData" hidden> {{ i }} </p> 
            {% endfor %}
            

            

            {% for i in month %}
            <p class="monthData" hidden> {{ i }} </p> 
            {% endfor %}

            {% for i in order %}
            <p class="orderData" hidden> {{ i }} </p> 
            {% endfor %}

            <!-- Widgets End -->
{% endblock %}