{% extends 'admin_base.html' %}
{% block title %}
admin-edit-brand
{% endblock %}1
{% load static %}
{% block body %}

    <div class="container-fluid">
        <div class="table-wrapper bg-dark border">
            <div class="table-title bg-dark">
                <div class="row">
                    <div class="col-md-3 mt-5"></div>
                    <div class="col-md-6 text-center mt-5">
						<h2>EDIT YOUR BRAND </h2>
					</div>
                </div>
            </div>

            <div class="card bg-secondary p-5">
                <div class="card-body" style="font-size: 1rem">
                    <h5 class="card-title text-white mb-5">Brand Update Table</h5>

                    <!-- Edit category form  -->
                        {% if brand %}
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form6Example1" value="{{ brand.brand_name }}" class="form-control bg-grey text-white" name="brand_name" required/>
                                        <label class="form-label" for="form6Example1">Brand Name {{ brand.brand_name }}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <div class="mb-4 d-flex justify-content-center align-items-center gap-3">
                                        <label for="currentFile" class="form-label">Current Image</label>
                                        {% if brand.brand_image %}
                                            <img src="{{ brand.brand_image.url }}"
                                            alt="example placeholder" style="width: 10vw;" id="currentFile" />
                                        {% endif %}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="mb-3">
                                            <input class="form-control bg-grey text-black" type="file" id="formFile" name="brand_image">
                                            <label for="formFile" class="form-label">Choose your image</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Description input -->
                            <div class="form-outline mb-4">
                                <textarea class="form-control bg-grey text-color" id="productDesc" rows="4" name="brand_description " required> {{ brand.brand_description }} </textarea>
                                <label class="form-label" for="productDesc">Brand Description</label>
                            </div>

                            <!-- Submit button -->
                            <div class="text-end">
                                <button type="submit" class="btn-lg border-0 btn-success btn-block mb-4">Save Brand</button>
                            </div>
                        </form>
                        {% endif %}

                    <!-- Edit product form end -->
                    <hr />
                </div>
            </div>
        </div>
    </div>

{% endblock %}