{% extends 'base.html' %}
{% block title %}
cart-product
{% endblock title %}
{% block body %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Your Cart</p>
    </div>
  </div>
</div>
<!-- Page Header End -->


{% if not cart_items %}

<div class="text-center">
  <div class="row">
    <div class="col-4"></div>
      <div class="col-4">
        <h1 class="text-danger">Your Kickmart cart is empty!!!</h1>

        <img src="https://static.vecteezy.com/system/resources/previews/004/964/514/original/young-man-shopping-push-empty-shopping-trolley-free-vector.jpg" alt="" class="im-fluid w-100">
    </div>
  </div>
</div>
<div class="text-center">
  <h4 class="text-info m-4">Shop today's deal</h4>
  <a href="{% url 'products' %}" class="btn btn-primary">Continue Shoping</a>
  <p class="text-left m-5 text-dark">The price and availability of items at Amazon.in are subject to change. The shopping cart is a temporary place to store a list of your items and reflects each item's most recent price.
    Do you have a promotional code? We'll ask you to enter your claim code when it's time to pay.</p>
</div>

{% else %}

<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart Items</h5>
          </div>
          <div class="card-body">

            <!-- Single item -->
            {% for item in cart_items %}
            <div class="card p-4 mb-3">
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-2 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <a href="{{ item.product.product.get_url }}">
                      <img src="{{ item.product.product.product_image.url }}" class="w-100" alt="Blue Jeans Jacket" />
                    </a>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>

                <div class="col-lg-5 col-md-6 mb-2 mb-lg-0">
                  <!-- Data -->
                  <p><strong> {{ item.product.product.product_name }} </strong></p>
                  <p><strong>Offer: &nbsp <small class="text-primary">20 % Offer</small></strong></p>
                  <p>Category: {{ item.product.product.category.category_name}},&nbsp Brand: {{ item.product.product.brand.brand_name }} </p>
                  <p>Size: {{ item.product.product_size.size }} </p>

                  <!-- Quantity -->
                  <label class="form-label" for="form1">Qty : {{ item.quantity }} X Nos </label>
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <form action="{% url 'remove_cart' item.product.id %}" method="POST">
                      {% csrf_token %}
                      {% if item.quantity > 0 %}
                    <button class="text-center bg-transparent border " type="submit">
                      <i class="fa fa-minus mx-auto"></i>
                    </button>
                    {% else %}
                    {% endif %}
                    </form>
                    
                    <div class="form-outline">
                      <input id="form1" min="0" name="quantity" readonly value="{{ item.quantity }}" type="tel"
                        class="form-control text-center" />
                    </div>
                    <form action="{% url 'add_cart_quandity' item.product.id %}" method="POST">
                      {% csrf_token %}
                      {% if item.quantity >= item.product.stock %}
                    {% else %}
                    <button class="text-center bg-transparent border">
                      <i class="fa fa-plus mx-auto"></i>
                    </button>
                    {% endif %}
                    </form>
                    
                  </div>
                  <!-- Quantity -->
                  <button class="bg-transparent border-0">
                    <a href="{% url 'delete_cart' item.product.id %}"><i class="fas fa-trash text-danger">&nbsp Remove
                        item</i></a>
                  </button>
                  <button class="bg-transparent border-0">
                    <a href="#"><i class="fas fa-heart text-primary">&nbsp Wishlist</i></a>
                  </button>
                  <!-- Data -->
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 align-content-middle">
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong> Rs. {{ item.sub_total }} </strong>
                    <br>
                    <small class="text-muted">Rs. {{ item.product.product_price }} /- for each</small>
                  </p>
                  <!-- Price -->
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- Single item -->

            <hr class="my-4" />
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">12.10.2020 - 14.10.2020</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <form class="mb-5" action="">
          <div class="input-group">
            <input type="text" class="form-control p-4" placeholder="Coupon Code">
            <div class="input-group-append">
              <button class="btn btn-primary">Apply Coupon</button>
            </div>
          </div>
        </form>

        <!-- coupon start -->

        <div class="card mb-4 p">
          <div class="card-header py-3">
            <h5 class="mb-0">Coupons</h5>
          </div>
          
          <div class="card-body ps-5">
            {% for coupon in coupons %}

            <div class="form-check p-2">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="{{ coupon.id }}">

              <label class="form-check-label " id="content-to-copy" for="exampleRadios1">
                {{ coupon.coupon_code }}
              </label>

              <small id="copy-button" class="text-info text-end ">copy</small>
            </div>

            {% endfor %}
          </div>
          
        </div>
        <!-- coupon end -->

        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Total
                <span>Rs. {{ total }} </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>{{ delivery_charge }} </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Tax 3% (Included all)
                <span>{{ tax }} </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Coupon discount
                <span> - </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Grant Total</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong> Rs. {{ grand_total }} /-</strong></span>
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-lg btn-block">
              Go to checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %}


{% comment %}
decreasing and increasing button in cart.
<button class="btn btn-light me-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
  <i class="fa fa-minus mx-auto"></i>
</button> {% endcomment %}
{% comment %} <button class="btn ms-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
  <i class="fa fa-plus mx-auto"></i>
</button>
{% endcomment %}

{% endblock body %}