{% extends 'base.html' %}
{% block title %}
checkout-order-confirm
{% endblock title %}
{% block body %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3"> Checkout </h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="{% url 'index' %}">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Your Checkout</p>
    </div>
  </div>
</div>
<!-- Page Header End -->


<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <div class="col-md-6">
              <div class="d-flex gap-4">
                <i class="bi bi-1-square-fill"></i>
              <div class="">
                LOGIN
              </div>
              </div>
              <div class="">
                {% if user.is_authenticated %}
                <div class="">
                  <p> {{ user.first_name }}  {{ user.phone }} </p>
                  <p>  </p>
                </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="card-body">
            <!-- Single item -->

            <form action="{% url 'checkout' %}" method="Post">
              {% csrf_token %}

            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <div class="d-flex gap-3">
                      <i class="bi bi-2-square-fill"></i>
                      <h6>Your Addresses</h6>
                    </div>
                    
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    {% comment %} loop for address {% endcomment %}
                    {% if addresses %}
                    {% for address in addresses %}

                    <div class="form-check mt-2 mb-2">
                      <input type="radio" class="form-check-input" id="{{ address.id }}" name="selectAddress" value="{{ address.id }}" checked>
                      <label class="form-check-label" for="{{ address.id }}">Address {{ forloop.counter }}</label>
                      <div class="mt-2">
                        <span class="fw-bold">{{ address.name }}</span>, &nbsp {{ address.alternative_mobile }} <br>
                        {{ address.address }}, &nbsp {{ address.nearby_location }} <br>
                        {{ address.town }}, &nbsp {{ address.zip_code }} <br>
                        {{ address.district }}
                      </div>
                    </div>
                    <hr class="w-70">
                    {% endfor %}
                    {% endif %}
                    <div class="d-flex gap-2">
                      <i class="bi bi-plus-lg text-info"></i>
                        <a href="" type="button" class="text-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Add new address</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <div class="d-flex gap-3">
                      <i class="bi bi-3-square-fill"></i>
                      <h6>Payment Methods</h6>
                    </div>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">

                    {% comment %} wallet {% endcomment %}
                    {% if user.is_authenticated %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{ request.user.wallet }}" id="selectWallet" name="selectWallet" checked>
                      <label class="form-check-label d-flex justify-content-between" for="selectWallet">
                        <span class="text-info">Wallet Balance</span>
                        <span class="small"> available balance : Rs. {{ request.user.wallet }} </span>
                      </label>
                    </div>
                    {% endif %}

                    <hr>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" value="cashonDelivery" name="paymentMethod" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Cash on Delivery
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="paymentMethod" value="payOnline" id="flexRadioDefault2">
                      <label class="form-check-label" for="flexRadioDefault2">
                        Paypal Payment
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="paymentMethod" value="razorpayMethod" id="flexRadioDefault3" checked>
                      <label class="form-check-label" for="flexRadioDefault3">
                        Razorpay Payment
                      </label>
                    </div>

                    <div class="text-end">
                      {% if addresses %}
                      <button type="submit" class="btn btn-primary bg-info text-white btn-lg w-50">
                        Proceed to Order
                      </button>
                      {% else %}
                      <button type="submit" class="btn btn-primary bg-info text-white btn-lg w-50">
                        <i class="bi bi-plus-lg text-white"></i>
                          <a href="" type="button" class="text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Add address</a>
                        </button>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Accordion Item #3
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                    {% comment %} delivery details {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Single item -->
            <hr class="my-4" />
            </form>

          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">12.10.2020 - 14.10.2020</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Checkout Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Total
                <span>Rs. {{ checkout_items.total }} </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>{{ checkout_items.shipping }} </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Tax 3% (Included all)
                <span>{{ checkout_items.tax }} </span>
              </li>
              <small class="list-group-item d-flex justify-content-between align-items-center px-0">
                State Tax 1.5 % <br>
                Central Tax 1.5 % <br>
                Included all VAT and Taxes
                
              </small>
              {% if checkout_items.coupon %}
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Coupon discount
                <span> {{ checkout_items.discount }} </span>                
              </li>
              <small class="list-group-item d-flex gap-3 align-items-center px-0 text-success">
                {% if checkout_items.coupon %}
                  {{ checkout_items.coupon }} <span class="text-dark">applied.</span>
                {% endif %}
              </small>
              {% else %}
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Coupon discount
                <span> 00.00 </span>                
              </li>
              {% endif %}
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Grant Total</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong> Rs. {{ checkout_items.grand_total }} /-</strong></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} address modal {% endcomment %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter the new delivery address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    
        <form action="{% url 'add_address' 1 %}"  method="POST">
          {% csrf_token %}
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-8">
                  <input class="text-muted form-control mb-0 border" id="firstName" type="text" value="" name="first_name"/>
                  <small class="text-primary" id="fname-Error"></small>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-8">
                  <input class="text-muted mb-0 border form-control" id="phoneNumber" type=text value="" name="phone" />
                  <small id="mobile-Error"></small>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-8">
                  <input class="text-muted mb-0 border form-control" id="lastName" type="text" value="" name="address" required/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <p class="mb-0">Town</p>
                </div>
                <div class="col-sm-8">
                  <input class="text-muted mb-0 border form-control" type="text"  value="" name="town" required/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <p class="mb-0">Zip code / Post code</p>
                </div>
                <div class="col-sm-8">
                  <input class="text-muted mb-0 border form-control" type="number"  value="" name="zip" required/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <p class="mb-0">Near by location</p>
                </div>
                <div class="col-sm-8">
                  <input class="text-muted mb-0 border form-control" type="text"  value="" name="location" required/>
                </div>
              </div>
              <hr>
              <div class="row">
                    <div class="col-sm-4">
                        <label for="sel1">District:</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                        <select class="form-control" id="sel1" name="district" required>
                            <option value=""> District </option>
                            <option value="Kasarkode"> Kasarkode </option>
                            <option value="Kannur"> Kannur </option>
                            <option value="Wayanad"> Wayanad </option>
                            <option value="Kozhikode"> Kozhikode </option>
                            <option value="Malapuram"> Malapuram </option>
                            <option value="Trissur"> Trissur </option>
                            <option value="Palakkad">Palakkad</option>
                            <option value="Idukki">Idukki</option>
                            <option value="Kottayam">Kottayam</option>
                            <option value="Alappuzha">Alappuzha</option>
                            <option value="Pathanamthitta">Pathanamthitta</option>
                            <option value="Kollam">Kollam</option>
                            <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                        </select>
                    </div>
                  </div> 
              </div>
              <hr>
 
              <input type="hidden" value=" {{ grand_total }} " name="grand_total">
              <input type="hidden" value=" {{ coupon_discount }} " name="coupon_discount">
              <input type="hidden" value=" {{ tax }} " name="tax">
              <input type="hidden" value=" {{ delivery_charge }} " name="delivery_charge">
              <input type="hidden" value=" {{ total }} " name="total">
              {% if coupon %}
              <input type="hidden" value=" {{ coupon }} " name="coupon">
              {% endif %}
        

              <div class="row">
                <div class="col-sm-12 text-center p-5">
                    <div class="text-center">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-dark border-0 w-50">
                        Create Address
                      </button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


{% endblock body %}