{% extends 'base.html' %}
{% block title %}
products-kickmart
{% endblock %}
{% load static %}
{% block body %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-2 col-md-12">
                <form action="{% url 'products' %}" method="POST">
                    {% csrf_token %}

                    <div class="border-bottom mb-4 pb-4">
                        <div class="mb-3">
                            <a href="{% url 'products' %}">All Products</a>
                        </div>
                        <h5 class="font-weight-semi-bold mb-4">Category</h5>
                        <!-- Category Start -->

                        {% for i in category_link %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input filter-checkbox" name="checkboxCategory" value="{{ i.category_name }}"  id="productCategory-{{ i.id }}">
                            <label class="custom-control-label" for="productCategory-{{ i.id }}">{{ i.category_name }}</label>
                        </div>
                        {% endfor %}

                    </div>
                    <!-- Category End -->

                    <!-- Brand Start -->
                    <div class="border-bottom mb-4 pb-4">
                        <h5 class="font-weight-semi-bold mb-4">Choose your Brand</h5>

                        {% for brand in brands %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input filter-checkbox" name="checkboxBrand" value="{{ brand.brand_name }}" id="productBrand-{{ brand.id }}">
                            <label class="custom-control-label" for="productBrand-{{ brand.id }}">{{ brand.brand_name }}</label>
                        </div>
                        {% endfor %}

                    </div>
                    <!-- Brand End -->

                    <!-- Size Start -->
                    <div class="border-bottom mb-4 pb-4">
                        <h5 class="font-weight-semi-bold mb-4">Choose your size</h5>
                        <div class="row">
                            {% for size in sizes %}
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                    <input type="checkbox" class="custom-control-input filter-checkbox" name="checkboxSize" value="{{ size.id }}" id="productSize-{{ size.id }}">
                                    <label class="custom-control-label" for="productSize-{{ size.id }}">{{ size.size }}</label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Size End -->

                    <!-- Rating Start -->
                    <div class="border-bottom mb-4 pb-4">
                        <h5 class="font-weight-semi-bold mb-4">Rating</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                    <input type="checkbox" class="custom-control-input filter-checkbox" name="checkboxRating" value="5" id="ratingFive">
                                    <label class="custom-control-label" for="ratingFive">5 <i class="bi bi-star-fill text-warning"></i></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                    <input type="checkbox" class="custom-control-input filter-checkbox" name="checkboxRating" value="4" id="ratingFour">
                                    <label class="custom-control-label" for="ratingFour">4 <i class="bi bi-star-fill text-warning"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                    <input type="checkbox" class="custom-control-input filter-checkbox" name="checkboxRating" value="3" id="ratingThree">
                                    <label class="custom-control-label" for="ratingThree">3 <i class="bi bi-star-fill text-warning"></i></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                    <input type="checkbox" class="custom-control-input filter-checkbox" name="checkboxRating" value="2" id="ratingTwo">
                                    <label class="custom-control-label" for="ratingTwo">2 <i class="bi bi-star-fill text-warning"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                    <input type="checkbox" class="custom-control-input filter-checkbox" name="checkboxRating" value="1" id="ratingOne">
                                    <label class="custom-control-label" for="ratingThree">1 <i class="bi bi-star-fill text-warning"></i></label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Rating End -->

                    <div class="border-bottom mb-4 pb-4">
                        <h5 class="font-weight-semi-bold mb-4">Price range</h5>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="number" class="form-outline border-0 bg-secondary" min="0" name="minPrice" id="minPrice" placeholder="minimum amount">
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="number" class="form-outline border-0 bg-secondary" name="maxPrice" id="maxPrice" placeholder="maximum amount">
                        </div>
                    </div>
                    
                    <!-- Size End -->
                    <div class="text-end">
                        <button type="submit" class="text-warning bg-transparent border-0">Filter</button>
                    </div>
                </form>
            </div>


            <!-- Shop Sidebar End -->

            <!-- Shop Product Start -->
            <div class="col-lg-10 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">

                            <!-- search for product -->
                            <form action="{% url 'search_by_name' %}" method="GET">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by name" name="search_by_name">
                                    <button class="input-group-append border-0">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>

                            
                            <!-- search end -->
                            {% if products %}
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sort by
                                        </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="">Best Rating</a>
                                </div>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                    <p text-center>found <strong> '{{ product_count }}'' </strong> products.</p>

                    {% if products %}
                    {% for item in products %}
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                {% if item.category.offer != 0 %}
                                    <div class="promotion-badge">
                                        <span class="cross-icon"> {{ item.category.offer }} </span> Special Offer
                                    </div>
                                {% endif %}
                                {% if item.product_image %}
                                <a href="{{ item.get_url}}">
                                    <img class="img-fluid w-100" src="{{ item.product_image.url }}" alt="">
                                </a>
                                {% endif %}
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{ item.product_name }}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>{{ item.selling_price }}</h6><h6 class="text-muted ml-2"><del>{{ item.original_price }}</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="{{ item.get_url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                {% comment %} <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12  text-center p-3 pt-4 pb-3">
                            <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/error-no-search-results_2353c5.png" class="mb-5" alt="">
                            <h3 class="text-truncate text-danger mb-3">No item found, try again!</h3>
                        </div>
                        
                        <div class="col-md-12 text-center">
                            <h6> Please check the spelling or try searching for something else </h6>
                        </div>
                    </div>
                    {% endif %}
                    <!-- single product for loop here  -->

                    
                    
                    <!-- pagination -->
                    <div class="col-12 pb-1">
                        <nav aria-label="Page navigation">
                            {% if products.has_other_pages %}
                            <ul class="pagination justify-content-center mb-3">
                                {% if products.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% endif %}
                                
                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li class="page-item active"><a class="page-link" href="#"> {{ i }} </a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}"> {{ i }} </a></li>
                                    {% endif %}
                                {% endfor %}
                                
                                {% if products.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                {% endif %}
                                

                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                    <!-- pagination -->
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>

    <!-- Shop End -->
{% endblock %}