{% extends 'base.html' %} {% load static %} {% block title %} products-kickmart
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<style>
  .rating {
    display: inline-block;
  }
  .rating input {
    display: none;
  }
  .rating label {
    font-size: 24px;
    color: gray;
    cursor: pointer;
    transform: scaleX(-1);
  }
  .rating label:before {
    content: '\2605'; /* Unicode character for a star */
  }
  .rating input:checked ~ label {
    color: gold;
  }
</style>
{% endblock css %}
{% endblock %} {% block body %}

<!-- Shop Detail Start -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col-lg-6 pb-5 col-12 text-center">
      <div class="img-fluid text-center">
        <img class="big_img w-100" src="{{ product.product_image.url }}"
          style="width: 100%; height: 60vh; object-fit: contain" alt="Image" id="main-img" />
      </div>
    </div>

    <div class="col-lg-5 pb-5">
      <h3 class="font-weight-semi-bold">{{ product.product_name }}</h3>
      <div class="d-flex mb-3">
        <div class="text-primary mr-2">
          {% for i in rating %}
          {% if i == avarage_rating %}
            <small class="fas fa-star"></small>
          {% else %}
            {% if i < avarage_rating %}
              <small class="fas fa-star"></small>
            {% else %}
            <small class="far fa-star"></small>
            {% endif %}
          {% endif %}
          
          {% endfor %}
        </div>
        <small class="pt-1">({{ reviews_count }} Reviews)</small>
      </div>
      <div class="d-flex">
        <h4 class="font-weight-semi-bold mb-4">
          Rs. {{ product.selling_price }}/- &nbsp;&nbsp;
        </h4>
        <p class="font-weight-regular text-muted ml-2" style="text-decoration: line-through; font-size: 18px">
          Rs.{{ product.original_price }}/-
        </p>
      </div>
      <p class="mb-4">{{ product.product_description }}</p>
      <div class="d-flex mb-3">

        {% if variant %}
        <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>

        {% comment %} product variant {% endcomment %}

        <form id="myForm" method="POST" action="{% url 'add_cart' product.id %}">
          {% csrf_token %}
          <div id="buttonContainer">
            {% for item in variant %}
            <button type="button" class="button-size" id="{{ item.id }}" data-value="{{ item.product_size }}"
              onclick="selectButton({{ forloop.counter }})">
              {{ item.product_size }}
            </button>
            {% endfor %}
          </div>
          <input type="hidden" id="selectedValueInput" name="selectedValue" />
          <button class="btn btn-primary px-3 mt-4" type="submit">
            <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
          </button>
        </form>
        {% else %}
        <div class="text-center">
          <h5 class="text-danger">Currently unavailable</h5>
        </div>
        {% endif %}
      </div>

      <div class="d-flex pt-2">
        <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
        <div class="d-inline-flex">
          <a class="text-dark px-2" href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 p-3 m-2 d-flex col-sm-12 col-12">
      {% for image in multiple_images %}
      <div class="text-start pb-2 m-1">
        <img src="{{ image.images.url }}" alt="product image" onclick="imgClick(this.id)"
          class="image-fluid mx-auto m-sm-auto" height="150vw" width="150vw" id="{{ image.id}}">
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row px-xl-5">
    <div class="col">
      <div class="nav nav-tabs justify-content-center border-secondary mb-4">
        <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews ({% if reviews.count > 0 %}{{ reviews_count }} {% else %} 0 {% endif %})</a>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-pane-1">
          <h4 class="mb-3">Product Description</h4>
          <p>
            {{ product.product_description}}
          </p>
          <p>
            Dolore magna est eirmod sanctus dolor, amet diam et eirmod et ipsum.
            Amet dolore tempor consetetur sed lorem dolor sit lorem tempor.
            Gubergren amet amet labore sadipscing clita clita diam clita. Sea
            amet et sed ipsum lorem elitr et, amet et labore voluptua sit rebum.
            Ea erat sed et diam takimata sed justo. Magna takimata justo et amet
            magna et.
          </p>
        </div>
        <div class="tab-pane fade" id="tab-pane-2">
          <h4 class="mb-3">Additional Information</h4>
          <p>
            Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea.
            Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam
            ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed
            sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam.
            Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum
            accusam sadipscing, eos dolores sit no ut diam consetetur duo justo
            est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor
            accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt
            tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea
            invidunt.
          </p>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                  Material : Leather
                </li>
                <li class="list-group-item px-0">
                  Sole : PU
                </li>
                <li class="list-group-item px-0">
                  Water Durability
                </li>
                <li class="list-group-item px-0">
                  Lace : Nylone
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                  Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                </li>
                <li class="list-group-item px-0">
                  Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                </li>
                <li class="list-group-item px-0">
                  Duo amet accusam eirmod nonumy stet et et stet eirmod.
                </li>
                <li class="list-group-item px-0">
                  Takimata ea clita labore amet ipsum erat justo voluptua.
                  Nonumy.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-pane-3">
          <div class="row">
            <div class="col-md-6">
              <h4 class="mb-4">  {{ reviews_count }} review for "{{ product.product_name }}"</h4>

              {% for review in reviews %}
                <div class="media mb-4">
                  <img src="{{ review.user.image.url }}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px" />
                  <div class="media-body">
                    <h6>
                      {{ review.user.first_name }} <small> - <i> {{ review.created }} </i></small>
                    </h6>
                    <div class="text-primary mb-2">
                      {% for i in rating %}
                      {% if i == review.rating %}
                        <i class="fas fa-star"></i>
                      {% else %}
                        {% if i < review.rating %}
                          <i class="fas fa-star"></i>
                        {% else %}
                          <i class="far fa-star"></i>
                        {% endif %}
                      {% endif %}
                      {% comment %} <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i> {% endcomment %}
                      {% endfor %}
                    </div>
                    <p>
                      {{ review.review }}
                    </p>
                  </div>
                </div>
              {% endfor %}

            </div>
            <div class="col-md-6">

              <form action="{% url 'review' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ product.id }}" name="product">
                <h4 class="mb-4">Leave a review</h4>
                <small class="text-warning">Your email address will not be published.</small>

                <div class="d-flex my-3">
                  <p class="mb-0 mr-2">Your Rating * :</p>
                  <div class="text-primary rating">
                    <input type="radio" id="star1" name="rating" value="5">
                    <label for="star1"></label>
                    <input type="radio" id="star2" name="rating" value="4">
                    <label for="star2"></label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3"></label>
                    <input type="radio" id="star4" name="rating" value="2">
                    <label for="star4"></label>
                    <input type="radio" id="star5" name="rating" value="1" checked>
                    <label for="star5"></label>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="message">Your Review *</label>
                  <textarea id="message" cols="30" rows="5" class="form-control" name="review" required></textarea>
                </div>
                
                <div class="form-group mb-0">
                  <input type="submit" value="Leave Your Review" class="btn btn-primary px-3" />
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Detail End -->

<!-- Products Start -->
<div class="container-fluid py-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5">
      <span class="px-2">You May Also Like</span>
    </h2>
  </div>
  <div class="row px-xl-5">
    <div class="col">
      <div class="owl-carousel related-carousel">

        {% for item in products %}
        <div class="card product-item border-0">
          <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
            <img class="img-fluid w-100" src="{{ item.product_image.url }}" alt="" />
          </div>
          <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3"> {{ item.product_name }} </h6>
            <div class="d-flex justify-content-center">
              <h6> {{ item.original_price }} </h6>
              <h6 class="text-muted ml-2"><del> {{ item.selling_price }} </del></h6>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between bg-light border">
            <a href="{{ item.get_url }}" class="btn btn-sm text-dark p-0"><i
                class="fas fa-eye text-primary mr-1"></i>View Detail</a>
            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
              Cart</a>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
  </div>
</div>
<!-- Products End -->
<script>
  function imgClick(id) {

    let img = document.getElementById(id).src
    document.getElementById('main-img').src = img

  }
</script>

{% endblock %}