{% extends 'user/user_profile.html' %}
{% block title %}
add-address
{% endblock title %}
{% block content %}

<div class="col-lg-8">
<!--    form start    -->
    <form action="{% url 'add_address' 0 %}"  method="POST">
      {% csrf_token %}
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <p class="mb-0">Name</p>
            </div>
            <div class="col-sm-8">
              <input class="text-muted form-control mb-0 border" id="firstName" type="text" name="first_name"/>
              <small class="text-primary" id="fname-Error"></small>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-8">
              <input class="text-muted mb-0 border form-control" id="phoneNumber" type="text" name="phone" />
              <small id="mobile-Error" class="text-danger"></small>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-8">
              <input class="text-muted mb-0 border form-control" id="lastName" type="text" name="address" required/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <p class="mb-0">Town</p>
            </div>
            <div class="col-sm-8">
              <input class="text-muted mb-0 border form-control" type="text"  value="" name="town" required/>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <p class="mb-0">Zip code / Post code</p>
            </div>
            <div class="col-sm-8">
              <input class="text-muted mb-0 border form-control" type="number" id="zip"  value="" name="zip" required/>
              <small id="zip-Error" class="text-danger"></small>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <p class="mb-0">Near by location</p>
            </div>
            <div class="col-sm-8">
              <input class="text-muted mb-0 border form-control" type="text"  value="" name="location" required/>
            </div>
          </div>
          <hr>
          <div class="row">
                <div class="col-sm-4">
                    <label for="sel1">District:</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                    <select class="form-control" id="sel1" name="district" required>
                        <option value=""> District </option>
                        <option value="Kasarkode"> Kasarkode </option>
                        <option value="Kannur"> Kannur </option>
                        <option value="Wayanad"> Wayanad </option>
                        <option value="Kozhikode"> Kozhikode </option>
                        <option value="Malapuram"> Malapuram </option>
                        <option value="Trissur"> Trissur </option>
                        <option value="Palakkad">Palakkad</option>
                        <option value="Idukki">Idukki</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Pathanamthitta">Pathanamthitta</option>
                        <option value="Kollam">Kollam</option>
                        <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                    </select>
                </div>
              </div> 
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12 text-center p-5">
                <div class="text-center">
                  <button type="submit" class="btn btn-primary border-0 w-50" onclick="return mobileValidate()">
                    Create Address
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </form>
    {% comment %} form end {% endcomment %}

    
  </div>

{% endblock content %}

{% block js %}

<script>
    function mobileValidate(){
        console.log("mobile validation")
        let mobile = document.getElementById("phoneNumber").value
        let zip = document.getElementById("zip").value

        const zipError = document.getElementById("zip-Error")
        const mobileError = document.getElementById("mobile-Error")

        if (mobile.length !== 10){
            mobileError.innerHTML = "Invalid mobile number"
            return false
        }
        if (zip.length !== 6){
            zipError.innerHTML = "Invalid zip number"
            return false
        }
        mobileError.innerHTML = ""
        zipError.innerHTML = ""
        return true
    }
</script>

{% endblock js %}