{% extends 'user/user_profile.html' %}
{% block title %}
{{ request.user }}-change-password
{% endblock title %}
{% block content %}
    
<div class="col-lg-8 p-5 d-flex flex-column gap-5 align-items-center">
    <div class="text-center">
        <h2 class="text-info    ">Change Password</h2>
    </div>
    <div class="card p-5 bg-light border-1 w-75">
    <form action="{% url 'password_change' %}" method="POST">
        {% csrf_token %}
        
        {% for error in form.non_field.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-success w-100 m-auto mt-5">
            Change Password
        </button>
    </form>
    </div>
</div>
    

{% endblock %}
