{% extends 'base.html' %}
{% block title %}
kick-mart-login
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
<!--        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">-->
<!--          <li class="nav-item" role="presentation">-->
<!--            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"-->
<!--            aria-controls="pills-login" aria-selected="true">Login</a>-->
<!--          </li>-->
<!--          <li class="nav-item" role="presentation">-->
<!--            <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"-->
<!--              aria-controls="pills-register" aria-selected="false">Register</a>-->
<!--          </li>-->
<!--        </ul>-->
<!-- Pills navs -->

<!-- Pills content -->
        <div class="tab-content">
          <div class="tab-pane fade show active mb-5" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

<!--            form  Login user      -->

            <form action="" method="post">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="text-center mb-5 mt-5  col-md-8 col-sm-10">
                      <h3 class="text-center">
                        YOUR ACCOUNT FOR EVERYTHING KICK-MART
                      </h3>
                    </div>
                        {% for message in messages %}
                            <small class=" text-center {{ message.tags }} bg-white"> {{ message }} </small>
                        {% endfor %}
                  </div>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="loginName">Email Address</label>
                    <input type="email" id="loginName" name="email" class="form-control" />
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="loginPassword">Password</label>
                    <input type="password" id="loginPassword" name="password" class="form-control" />
                  </div>

                  <!-- 2 column grid layout -->
                  <div class="row mb-4">
                      <div class="col-md-12 text-end">
                        <!-- Simple link -->
                        <a href="#!" style="color: grey">Forgot password?</a>
                      </div>
                </div>

                <!-- Submit button -->
                <div class="col-md-12 text-center">
                  <button type="submit" class="fw-bold mb-4 w-100" style="width: 100%; background-color: black; color: yellow; height: 50px">LOG IN</button>
                </div>
            </form>

<!--    form end    -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}