{% extends "base.html" %}
{% block title %}
order-detail
{% endblock title %}
{% block body %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <section class="h-100 gradient-custom">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-2"></div>
                    <div class="col-10">
                      <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                          <h5 class="text-muted mb-0"><span style="color: #a8729a;">Track Your Order</span>!</h5>
                        </div>
            
                        {% comment %} logic for orders  {% endcomment %}
            
                        {% if orders %}
                        {% for order in orders %}
            
                        <div class="card-body p-4">
                            {% comment %}
                            <div class="d-flex justify-content-between align-items-center mb-4">
                              <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                              <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                            </div>
                            {% endcomment %}
                          <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-2">
                                  <img src="{{ order.variant.product.product_image.url }}"
                                    class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0"> {{ order.variant.product.product_name }} </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Size: {{ order.variant.product_size.size }} </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Qty: {{ order.quandity }} </p>
                                </div>
                                <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Rs. {{ order.variant.product_price }} X {{ order.quandity }} </p>
                                </div>
                              </div>
                              <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                              <div class="row d-flex align-items-center">
                                <div class="col-md-4">
                                  <p class="text-info mb-0" data-bs-target="#myModal-{{ forloop.counter }}" type="button" data-bs-toggle="modal" class="btn btn-primary">Track Order</p>
                                </div>
                                <div class="col-md-4">
                                    {% comment %} <p class="text-primary mb-0" data-bs-target="#orderModal" type="button" data-bs-toggle="modal" class="btn btn-primary">Order Details</p> {% endcomment %}
                                    <a href="{% url 'order_details' order.id %}" class="text-primary" style="text-decoration: None;"> Order details</a>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        {% endfor %}
                        {% else %}
            
                        <div class="text-center">
                            <h1 class="text-danger m-5"> Order list is empty !</h1>
                        </div>
                        <div class="text-center">
                            <img src="{% static 'img/empty.jpg' %}" alt="image" class="w-75">
                        </div>
            
                        {% endif %}
            
                        {% comment %} logic for orders  {% endcomment %}
            
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
        <div class="col-md-6">
            <section class="h-100 gradient-custom">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-10">
                      <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                          <h5 class="text-muted mb-0"><span style="color: #a8729a;">Your Orders</span>!</h5>
                        </div>
            
                        {% comment %} logic for orders  {% endcomment %}
            
                        {% if orders %}
                        {% for order in orders %}
            
                        <div class="card-body p-4">
                            {% comment %}
                            <div class="d-flex justify-content-between align-items-center mb-4">
                              <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                              <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                            </div>
                            {% endcomment %}
                          <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-2">
                                  <img src="{{ order.variant.product.product_image.url }}"
                                    class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0"> {{ order.variant.product.product_name }} </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Size: {{ order.variant.product_size.size }} </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Qty: {{ order.quandity }} </p>
                                </div>
                                <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Rs. {{ order.variant.product_price }} X {{ order.quandity }} </p>
                                </div>
                              </div>
                              <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                              <div class="row d-flex align-items-center">
                                <div class="col-md-4">
                                  <p class="text-info mb-0" data-bs-target="#myModal-{{ forloop.counter }}" type="button" data-bs-toggle="modal" class="btn btn-primary">Track Order</p>
                                </div>
                                <div class="col-md-4">
                                    {% comment %} <p class="text-primary mb-0" data-bs-target="#orderModal" type="button" data-bs-toggle="modal" class="btn btn-primary">Order Details</p> {% endcomment %}
                                    <a href="{% url 'order_details' order.id %}" class="text-primary" style="text-decoration: None;"> Order details</a>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        {% endfor %}
                        {% else %}
            
                        <div class="text-center">
                            <h1 class="text-danger m-5"> Order list is empty !</h1>
                        </div>
                        <div class="text-center">
                            <img src="{% static 'img/empty.jpg' %}" alt="image" class="w-75">
                        </div>
            
                        {% endif %}
            
                        {% comment %} logic for orders  {% endcomment %}
            
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
</div>

{% endblock body %}