{% extends "base.html" %}
{% block title %}
your-orders
{% endblock title %}
{% block body %}
{% load static %}

<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-10">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-5 py-5">
              <h5 class="text-muted mb-0"><span style="color: #a8729a;">Your Orders</span>!</h5>
            </div>

            {% comment %} logic for orders  {% endcomment %}

            {% if orders %}
            {% for order in orders %}

            <div class="card-body p-3">
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="{{ order.variant.product.product_image.url }}"
                        class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0"> {{ order.variant.product.product_name }} </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Size: {{ order.variant.product_size.size }} </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty: {{ order.quandity }} </p>
                    </div>
                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Rs. {{ order.variant.product_price }} X {{ order.quandity }} </p>
                    </div>
                  </div>
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-4">
                      <button data-bs-target="#myModal-{{ order.id }}" type="button" data-bs-toggle="modal" class="btn btn-sm btn-info">Track Order</button>
                    </div>

                    {% if order.order_id.status == 'Cancelled' %}
                    <div class="col-md-4">
                      <p class="text-danger"> Cancelled </p>
                    </div>
                    {% elif order.order_id.status == 'Delivered' %}
                      {% if order.return_request %}
                        {% if order.is_returned %}
                          <div class="col-md-4">
                            <p class="text-danger"> Item Returned </p>
                          </div>
                        {% else %}
                          <div class="col-md-4">
                            <p class="text-warning"> Return processing </p>
                          </div>
                        {% endif %}
                      {% else %}
                        <div class="col-md-4">
                          <p class="text-success"> Delivered </p>
                        </div>
                        {% endif %}
                    {% elif order.order_id.status == 'Returned' %}
                    <div class="col-md-4">
                      <p class="text-danger"> Returned </p>
                    </div>
                    {% else %}
                    <div class="col-md-4"></div>
                    {% endif %}

                    {% if order.order_id.status == 'Delivered' %}

                    <div class="col-md-4">
                        <a class="btn btn-sm btn-warning mb-2" href="{% url 'pdf_view' order.id %}" target="_blank">View Invoice<i class="bi bi-file-earmark-excel"></i></a>
<!--					<a class="btn btn-sm btn-info"  href="{% url 'pdf_download' order.id %}">Download Invoice <i class="bi bi-download"></i></a>-->

                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            {% else %}

            <div class="text-center">
                <h1 class="text-danger m-5"> Order list is empty !</h1>
            </div>
            <div class="text-center">
                <img src="{% static 'img/empty.jpg' %}" alt="image" class="w-75">
            </div>

            {% endif %}

            {% comment %} logic for orders  {% endcomment %}

          </div>
        </div>
      </div>
    </div>
  </section>
  

{% comment %} modal for track order {% endcomment %}

{% if orders %}
{% for order in orders %}
  <div class="modal fade" id="myModal-{{ order.id }}" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Track your order #{{ order.order_id }} </h4>
        </div>
        
        <div class="modal-body text-center">
            <div class="col-md-12">
                <div class="progress" style="height: 6px; border-radius: 16px;">
                  {% comment %} provide condition here {% endcomment %}
                  
                  {% if order.order_id.status == 'Order confirmed' %}
                  <div class="progress-bar" role="progressbar"
                    style="width: 25%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                  {% elif order.order_id.status == 'Shipped' %}
                  <div class="progress-bar" role="progressbar"
                    style="width: 50%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                  {% elif order.order_id.status == 'Out for delivery' %}
                  <div class="progress-bar" role="progressbar"
                    style="width: 75%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                  {% elif order.order_id.status == 'Delivered' %}
                    {% if order.return_request %}
                      {% if order.is_returned %}
                        <div class="progress-bar" role="progressbar"
                          style="width: 100%; border-radius: 16px; background-color: red;" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100">
                        </div>
                      {% else %}
                        <div class="progress-bar" role="progressbar"
                          style="width: 75%; border-radius: 16px; background-color: grey;" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100">
                        </div>
                      {% endif %}
                    {% else %}
                      <div class="progress-bar" role="progressbar"
                        style="width: 100%; border-radius: 16px; background-color: green;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100">
                      </div>
                    {% endif %}
                  {% elif order.order_id.status == 'Cancelled' %}
                  <div class="progress-bar" role="progressbar"
                    style="width: 100%; border-radius: 16px; background-color: red;" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                  {% endif %}
                </div>
                <div class="d-flex justify-content-around mb-1 mt-3">
                  <p class="text-muted mt-1 mb-0"><i class="bi bi-check-circle"></i> &nbsp Confirmed</p>
                  <p class="text-muted mt-1 mb-0"><i class="bi bi-truck"></i> &nbsp Shipped</p>
                  <p class="text-muted mt-1 mb-0"><i class="bi bi-bicycle"></i> &nbsp Ready to deliver</p>
                  {% if order.order_id.status == 'Cancelled' %}
                    <p class="text-muted mt-1 mb-0"><i class="bi bi-x-octagon"></i> &nbsp Cancelled</p>
                  {% elif order.order_id.status == 'Returned' %}
                    <p class="text-muted mt-1 mb-0"><i class="bi bi-arrow-return-left"></i> &nbsp Returned</p>
                  {% else %}
                    {% if order.return_request %}
                      {% if order.is_returned %}
                        <p class="text-muted mt-1 mb-0"><i class="bi bi-box"></i> &nbsp Returned </p>
                      {% else %}
                        <p class="text-muted mt-1 mb-0"><i class="bi bi-box"></i> &nbsp Return processing </p>
                      {% endif %}
                    {% else %}
                      <p class="text-muted mt-1 mb-0"><i class="bi bi-box"></i> &nbsp Delivered</p>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              {% if order.order_id.status == 'Delivered' %}
              <div class="card-body text-left">
                {% if order.return_request %}
                    {% if order.is_returned %}
                      <p class="text-danger text-left m-3" class="text-left">
                        Item Returned 
                      </p>
                    {% else %}
                    <p class="text-danger text-left m-3" data-bs-target="modalName" type="button" data-bs-toggle=" " class="text-left btn btn-danger">
                      Cancel Return 
                    </p>
                    {% endif %}
                {% else %}
                <p class="text-danger text-left m-3" data-bs-target="#returnModal-{{ order.id }}" type="button" data-bs-toggle="modal" class="text-left btn btn-danger">
                  Return 
                </p>
                {% endif %}
                </div>
                {% if order.return_request %}
                  {% if order.is_returned %}
                    <div class="card mb-4 mt-2">
                      <div class="card-body">
                        <p><strong class="text-danger"> Item Returned </strong></p>
                        <p class="mb-0">  </p>
                      </div>
                    </div>
                  {% else %}
                    <div class="card mb-4 mt-2">
                      <div class="card-body">
                        <p><strong class="text-primary">Return Processing</strong></p>
                        <p class="mb-0">  </p>
                      </div>
                    </div>
                  {% endif %}
                {% else %}
                  <div class="card mb-4 mt-2">
                    <div class="card-body">
                      <p><strong class="text-success">Item Delivered</strong></p>
                      <p class="mb-0">  </p>
                    </div>
                  </div>
                {% endif %}
              {% elif order.order_id.status == 'Cancelled' %}
              <div class="card-body text-left">
                <p class="text-danger" >Order Cancelled </p>
              </div>
              <div class="card mb-4 mt-3">
                <div class="card-body">
                  <p><strong>Order Cancelled </strong></p>
                </div>
              </div>
              {% else %}
              <p class="text-danger text-left m-4" data-bs-target="#exampleModalToggle-{{ order.id }}" type="button" data-bs-toggle="modal" class="text-left btn btn-danger">Cancel Order</p>
              <div class="card mb-4 mt-3">
                <div class="card-body">
                  <p><strong>Expected shipping delivery</strong></p>
                  <p class="mb-0"> 29.10.2023 - 01.11.2023</p>
                </div>
              </div>
              {% endif %}
              
              
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}


{% comment %} modal for cancel order {% endcomment %}

{% if orders %}
{% for order in orders %}
<div class="modal fade" id="exampleModalToggle-{{ order.id }}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{% url 'order_cancel' order.id %}" method="POST">
        {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Reason for cancellation </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <label for="my_textarea">Type your reason:</label><br>
          <textarea id="my_textarea" name="cancelReason" rows="4" cols="50" required>
          </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="submit">Cancel Confirm</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% comment %} modal for return order {% endcomment %}

{% if orders %}
{% for order in orders %}
<div class="modal fade" id="returnModal-{{ order.id }}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{% url 'order_return' order.id %}" method="POST">
        {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Reason for return </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <label for="my_textarea">Type your reason:</label><br>
          <textarea id="my_textarea" name="returnReason" rows="4" cols="50" required>
          </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="submit"> Return Confirm </button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
  
{% endblock body %}