{% extends 'user/signup.html' %}
{% block title %}
kick-mart-login
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="tab-content">
        <div class="tab-pane fade show active mb-5" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

          <form action="{% url 'reset_password' token %}" method="post">

            {% csrf_token %}
            <div class="row">
              <div class="col-md-2 col-sm-1"></div>
              <div class="text-center mb-3 bg-secondary p-4 mt-5  col-md-8 col-sm-10">
                <h4 class="text-center">
                  CREATE NEW PASSWORD
                </h4>
              </div>
            </div>

            <!-- Password input -->
            <div class="card p-4">
              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"/>
                <small id="passwordError" class="text-danger"></small>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="cpassword" class="form-control" />
                <small id="confirmPasswordError" class="text-danger"></small>
              </div>

              <input type="hidden" name="user_id" id="{{ user_id }}">
              <input type="hidden" name="token" id="{{ token }}">

              <!-- Submit button -->
              <div class="col-md-12 text-center">
                <button type="submit" class="fw-bold mb-4 w-100" onclick="return validateForm()"
                  style="width: 100%; background-color: black; color: yellow; height: 50px">Reset Password</button>
              </div>
              <small id="formError" class="text-danger"></small>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
  {% for message in messages %}
  alertify.set('notifier', 'position', 'top-right');
  alertify.success('{{message}}');
  {% endfor %}
</script>

<script>
  function validate() {

    console.log("validate");
    let password = document.getElementById("password").value
    let cpassword = document.getElementById("confirmPassword").value
    const passwordError = document.getElementById("passwordError")
    const cpasswordError = document.getElementById("confirmPasswordError")

    if (password.length === 0) {
      passwordError.innerHTML = "password field cannot be empty."
      setTimeout(function () {
        passwordError.style.display = "none";
      }, 3000);
      return false
    }
    if (cpassword.length === 0) {
      cpasswordError.innerHTML = "confirm password field cannot be empty."
      setTimeout(function () {
        cpasswordError.style.display = "none";
      }, 3000);
      return false
    }
    passwordError.innerHTML = ""
    cpasswordError.innerHTML = ""
    return true
  }

  function validateForm() {
    let formError = document.getElementById("formError")
    if (!validate()) {
      formError.style.display = "block";
      formError.innerHTML = "Fill the credentials properly";
      setTimeout(function () {
        formError.style.display = "none";
      }, 3000);
      return false;
    }
  }
</script>
{% endblock js %}